
body {
    text-align: center;
    background: url("https://cdn.openart.ai/stable_diffusion/0fb226a8755c0bd77ecb4e12e83d394731187343_2000x2000.webp");
    background-size: cover;
    background-position: center;
    color: white;
    font-family: helvetica;
     }
  
  img {
    object-fit: cover;
object-position: top center;
border-radius:50%;
width: 300px;
height: 300px;
border: 5px solid #555;
border-color: rgba(40, 67, 135, 1);
  }



 .box {
    text-align: center;
    border: 10px solid #000; 
    text-align: center;
    font-size: 50px;
    margin-top: 90px;
    line-height: 80px;
    background-color: black;
 }
 





 


  .img-placeholder {
    background-image: url("https://gifdb.com/images/high/anime-nose-bleed-iruka-sensei-naruto-vy5mwm5nv2ijg0vv.gif");
    width: 455px;
    height: 270px;
    background-image: cover;
    background-position: center;
    background-size: 100% 100%;
    border-radius: 8px;
   
  }
  .image-placeholder {
    background-image: url("https://64.media.tumblr.com/76df4a57eb61e1313cda338a03277f58/tumblr_ofzskl49Uh1u9fa5qo1_400.gif");
    width: 455px;
    height: 270px;
    background-image: cover;
    background-position: center;
    background-size: 100% 100%;
    border-radius: 8px;
   
  }

  main {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 32px;
    flex-wrap: wrap;
    
    
  }
